apify-client>=1.8.1,<2.0.0
python-dotenv>=1.0.1,<2.0.0
psycopg2-binary>=2.9.9,<3.0.0
langchain-core>=0.3.0,<2.0.0
langchain-text-splitters>=0.3.0,<2.0.0
langchain-openai>=0.3.0,<2.0.0
langchain-anthropic>=0.3.0,<2.0.0
